<ion-view title="TrainX Starter - Ticket Reservation">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">From</span>
                <select>
                    <option></option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">To</span>
                <select></select>
            </label>
            <ion-checkbox>With Return</ion-checkbox>
            <label class="item item-input">
                <span class="input-label">Reserving Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Return Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Class</span>
                <select>
                    <option></option>
                    <option>1st Class</option>
                    <option>2nd Class</option>
                </select>
            </label>
        </form>
        <a href="#/page20/page55/page56" class="button button-positive button-block ">Find My Train</a>
    </ion-content>
</ion-view>