<ion-view title="<center>Home</center>">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/123.jpg) no-repeat center;" scroll="false" class="has-header">
  
 <!--   <ion-content overflow-scroll="true" padding="true" class="has-header">   -->
	
	<div class="list" id="centered2">

  <a class="item item-icon-left" href="#/page20/page25">
    <i class="icon ion-android-subway positive"></i>
    Find Trains
  </a>

  <a class="item item-icon-left" href="#/page20/page1">
    <i class="icon ion-ios-paper positive"></i>
    My Tickets
 </a>

  <a class="item item-icon-left" href="#/page20/page29">
    <i class="icon ion-android-globe positive"></i>
    Travel Guide
  </a>

<!--  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Notifications
    <span class="badge badge-assertive">0</span>
  </a>  -->

</div>
	
	</ion-content>
</ion-view>