<ion-view title="TrainXLife">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/6PhWTF0pQWekDubuuQ4q_1.jpg) no-repeat center;" scroll="false" class="has-header">
       <div id="centered">
        <form class="list">
           
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
           
         
            <a href="#/page20/page21" class="button button-full button-positive">Log in</a>
            <a href="#/page6" class="button button-positive button-clear button-block " style="color:white;letter-spacing: 1px;">Not a member?Sign up now.</a>
        </form>
		
		</div>
    </ion-content>
</ion-view>