<ion-view title="<center>My Account</center>">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
	
	
	
	
	
<div class="card">
  <div class="item item-text-wrap">
    Name:</br>
	Email:</br>
	Phone:</br>
	NIC:</br>
  </div>
  
  
  <div align="right">
  
  <a class="item item-icon-right" href="#/page20/myaccounteditpage">
    <i class="icon ion-arrow-right-a"></i>
    Edit Account
  </a>
</div>





</div>
<div class="item item-divider">
    Travel History
  </div>
	
	
	
	
	
	
	
	
	
	
	
	
	</ion-content>
</ion-view>