<ion-view title="<center>My Account Edit</center>">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
	
	
	
	
	
	<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Suhr">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">NIC</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone</span>
    <input type="text" placeholder="john@suhr.com">
  </label> 
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="text" placeholder="john@suhr.com">
  </label> 
 
 <div class="row">
 <a class="button button-outline button-assertive" style="width: 45%;" href="#/page20/page22">
  Cancel
</a>
 <div style="width: 10%;"></div>

 <button class="button button-outline button-positive" style="width: 45%;" >
  Save
</button>
 </div>
 
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	</ion-content>
</ion-view>