<ion-view title="TrainX Starter">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-item class="item-divider">Payment Gateway</ion-item>
            <label class="item item-input">
                <span class="input-label">Total Price</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Select Your Payment Method</span>
                <select>
                    <option></option>
                    <option>Paypal</option>
                    <option>Station</option>
                </select>
            </label>
        </form>
        <a href="#/page20/page60" class="button button-positive button-block ">Pay Now</a>
    </ion-content>
</ion-view>