<ion-view title="<center>Location</center>" cache-view="false">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
     
	  
     <div class="list card">

  <div class="item " id="appendthedataselect">
   

  </div>

  <div class="item item-body" id="appendthedataselect2">

  </div>

    <div class="item item-body">


        <div class="popin">
          <div id="map"></div>
        </div>
  </div>

</div>
<a href="#/page20/page25" class="button button-block button-positive icon-right ion-chevron-right ">Train Schedules</a>
    </ion-content>
</ion-view>