<ion-view title="Location">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
     
	  
     <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Anuradhapura</h2>
    <p>................</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
      Anuradhapura is one of the olden capitals of Sri Lanka,
	  well-known for its well-preserved ruins of ancient Lankan people.
	  From the 4th century BC, it was the capital of Sri Lanka until 
	  the start of the 11th century AD. During this period it remained
	  one of the most steady and durable centers of political power and city 
	  life in South Asia.
    </p>
    <p>
      <a href="#" class="subdued">.............</a>
      <a href="#" class="subdued">.............</a>
    </p>
  </div>
  
  <!--<a href="#/page20/page32" class="button icon-right ion-chevron-right button-calm">Train Schedules</a>
  <a href="#/page20/page55/page56" class="button button-positive button-block ">Find My Train</a>-->

</div>
<a href="#/page20/page32" class="button icon-right ion-chevron-right button-calm">Train Schedules</a>
    </ion-content>
</ion-view>