<ion-view title="TrainX Starter">

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Seat Reservations</ion-item>
        </ion-list>
        <div class="card">
            <div class="item item-text-wrap">
                Select Your Seats.
            </div>
        </div>

        <div class="spacer" style="width: 283px; height: 348px;"></div>
        <a href="#page20/page57" class="button button-positive button-block ">Continue</a>

    </ion-content>
</ion-view>