<ion-view title="<p>Signup</p>">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/FYOW45gUTvyMbKEhQvry_1.jpg) no-repeat center;" scroll="false" class="has-header">
 <div  id="centered">       
	   <form class="list">
           
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button class="button button-full button-calm">Sign up</button>
        </form>
		</div>
    </ion-content>
</ion-view>