<ion-view title="Ticket Reservation">
    <ion-content overflow-scroll="true" padding="true" class="has-header" scroll="true">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">From</span>
                <select>
                    <option></option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">To</span>
                <select></select>
            </label>
           
            <label class="item item-input">
                <span class="input-label">Reserving Date</span>
                <input type="date" placeholder="">
            </label>

            <label class="item item-select">
                <span class="input-label">Class</span>
                <select>
                    <option></option>
                    <option>1st Class</option>
                    <option>2nd Class</option>
                </select>
            </label>
        </form>
		
				<!-- 		<div ng-controller="Test">
      <p >{{selectedItem}}</p>
      <select ng-model="selectedItem">
        <option ng-repeat="item in names" value="{{item.id}}">{{item.food}}</option>
      </select>
        <a ui-sref="page2" ng-click="samfun(selectedItem)" class="button button-stable button-block ">Tap me!</a>
	  
    </div>  -->
        <a href="#/page20/page30" class="button button-positive button-block ">Find My Train</a>
    </ion-content>
</ion-view>