<ion-view title="Location List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
      <div class="list">

    <a class="item item-thumbnail-left" href="#/page20/page31">
      <img src="cover.jpg">
      <h2>Anuradhapura</h2>
      <p>........</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Arugambay</h2>
      <p>........</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Bentota</h2>
      <p>........</p>
    </a>
	</div>
	

    </ion-content>
</ion-view>